# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Node.js
node_modules/
npm-debug.log
yarn-error.log
.next/

# IDEs
.idea/
.vscode/
*.swp
.DS_Store

# Project Specific
static/generated/*
!static/generated/.gitkeep
*.pdf
!dummy_resume.pdf
!example_resume.pdf

# Logs
*.log
/WALKTHROUGH.md
/PLAN.md
