# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
.env

# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
*.iml
*.lock

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/.generated/

# Android
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/.idea/
*.jks
key.properties

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Misc
*.class
*.lock
.coverage
coverage/
node_modules/
